<div class="task" onclick="setActive($(this),event)">
    <div class="col-xs-6">
        <input class="form-control" />
    </div>
    <div class="col-xs-4">
        <label class="switch-light" onclick="">
            <input type="checkbox" />
            <span class="well">
                <span class="btn-task ">NOK!</span>
                <span class="btn-task">OK!</span>
                <a class="btn btn-primary green btn-task"></a>
            </span>
        </label>
    </div>
    <div class="col-xs-1">
        <button class="btn btn-primary btn-task fa fa-plus" onclick="addTask(event)"></button>
    </div>
</div>