@model List<TypeFilterViewModel>
<form method="post" action="Project/ApplyFilter" >
   @for (int j = 0; j < Model.Count; j++)
   {

    <input asp-for="@Model[j].IsChecked" type="checkbox" />
    <label  for="@Model[j].Name" >@Model[j].Name</label>


   }
    <button class="btn btn-primary fa fa-check" type="submit" style="float:right"></button>
</form>