/* Hide/rearrange for smaller screens */
@media (min-width: 480px) and (max-width:1500px)
{
  /* Hide captions */
  .carousel-caption {
    display: none
  }
  .nav > li{
      font-size:14px!important;
  }
}

@media (min-width: 200px) and (max-width:800px)
{
  h1{
      font-size:17px;
  }
  #div-update > img,
  #div-update > span{
      font-size:1.5em;
      margin-top:3px;
  }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
article{    
margin-top:10px;
width: 100%;    
border: 1px solid #d4d4d4;
border-radius: 2px;
padding:10px;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

h1{  
font-family:Calibri;
}
article p{
margin-top:15px;
margin-bottom:15px;
color:gray;
}


.date-created{    
    color:darkgrey;
    font-family:cursive;
    font-size:smaller;
}

.date-target{    
    float:right;
    color:rgb(224, 11, 117);
    font-family:cursive;
    font-size:smaller;
    padding-right:20px;

}
.btn-task{
    padding-top:6px!important;
    padding-bottom:6px!important;

}
#div-update{
    padding-right:15px;
      color:white;      
}

#div-update form{
    float:right;
}
#btn-remove{
    background-color:#31708f;
    opacity:0.5;
    margin-left: 5px;
    float: right;
}
#btn-remove:hover{
    opacity:1!important;
}
#btn-modify{
    float:right;
    opacity:0.5;
   background-color:rgba(14, 224, 11, 0.74);
}
#btn-modify:hover{
    opacity:1!important;
}
article button{    
    padding:2px;  
    background-color:transparent;
    border-color:transparent;
}
.img-responsive{
    opacity:0.8;
}
.img-responsive:hover{
    opacity:1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transform:translate(0, 0) scale(1.075);
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:45px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}
  /*DropDown*/
  .dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}



.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
   
}
.dropdown-menu > li > a{
    padding:0px;
}
.nav > li{
    font-size:16px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand{
    font-size:30px;
}

.selected{
  font-size:22px!important;
}
.tooltip-inner {
    background-color: #00acd6;
    color: #fff;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #00acd6;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #00acd6;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00acd6;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #00acd6;
}
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar-nav > li > .dropdown-menu{
    margin-top:3px;
     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
     color:white;
     background-color:#31708f;
}
.dropdown-menu > li > a{
color:white;
}
.dropdown-menu > li > a:hover{
        background-color:#31708f;
color:white;
}

.btn-primary{
    background-color:#31708f;
}
.green{
    border-color:rgba(14, 224, 11, 0.74)!important;
    background-color:rgba(14, 224, 11, 0.74)!important;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
}
#search-btn{
    padding-top:6px;
    padding-bottom:6px;
}
#new-btn,#new-li{
    padding-top:6px;
    padding-bottom:6px; 
}
#new-btn {
       background-color:rgba(14, 224, 11, 0.74);       
       border-color:transparent;       
       height:35px;
}
.user-tag{
    font-weight: bold;
    font-size: x-large;    
}

.check-list{
    padding-top:10px;
    cursor:pointer;
    color:darkgrey;
    padding-left:20px;
    font-weight: bold;
}
.fa-check{
    color:rgba(14, 224, 11, 0.74);     
}
.check-list .fa-times{
    color:#31708f;
}
.dropdown-fields
{
   margin-left:4px!important;
   display:inline-block!important;
}

#new-btn span {      
       font-weight:500;
       color:white;
}

#new-btn span:hover {      
       color:white;
       font-weight:600;
}

#add-datepicker,#add-icon-datepicker{
    padding-top:0px;
    padding-bottom:0px;
    color:rgba(14, 224, 11, 0.74);
}

#menu1 > form > div{
    padding-left:5px;
}




